$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
/*global variables*/

$light-gray:#D3D3D3;
$white:#FFFFFF;
$black:#000000;
body {
    background-color: $light-gray;
}
.container {
    width: 90%;
    margin: 0 auto;
    background-color: $white;
    .essent-logo {
        margin-top: 20px;
        display: inline-block;
        width: 97%;
        img {
            height: 75px;
            margin-left: 10px;
            float: left;
        }
        h4 {
            color: #ed1556;
            text-align: right;
            margin-top: 24px;
        }
    }
    .header-image {
        img {
            width: 100%;
            height: auto;
            margin-top: 24px;
        }
    }
    .logged-in-container-show-small-devices {
        span {
            color: grey;
            font-size: 15px;
        }
        padding-top: 18px;
        background-color: #ed1556;
        .energie {
            color: $white;
            margin-left: 10px;
            font-size: 18px;
        }
        .logged-in {
            background-color: $light-gray;
            text-align: right;
            height: 50px;
            padding: 16px 37px;
        }
    }
    .logged-in-container-show-large-devices {
        background-color: $light-gray;
        span {
            color: grey;
            font-size: 15px;
        }
        padding-top: 15px;
        height: 50px;
        text-align: right;
        .logged-in {
            background-color: $light-gray;
            margin-right: 16px;
        }
    }
    .tips-text {
        h2 {
            color: #ed1556;
        }
    }
    .second-row-images {
        font-size: 12px;
        h3 {
            color: #ed1556;
            width: 163px;
        }
        img {
            width: 290px;
            height: 200px;
        }
        img.visible-xs {
            width: 290px;
            display: block;
            margin-left: 0;
            margin-right: 0;
        }
        li {
            list-style: none;
            margin-top: 8px;
            margin-left: -41px;
        }
        .middle-column {
            margin-top: 8px;
            line-height: 19px;
            width: 200px;
        }
        .left-column li:before {
            content: "• ";
            color: cornflowerblue;
            list-style: none;
        }
        .right-column li:before {
            content: "• ";
            color: cornflowerblue;
            list-style: none;
        }
        .aanbod-text {
            color: cornflowerblue;
            font-size: 14px;
        }
    }
    .cooking-dad {
        img {
            width: 100%;
        }
        .hidden-xs {
            width: 500px;
            padding-left: 40px;
            margin-top: -278px;
            position: absolute;
        }
        .hidden-xs p {
            background-color: #ed1556;
            padding: 6px 0;
            color: $white;
            display: inline;
            font-size: 35px;
        }
        span {
            box-decoration-break: clone;
            padding: 0 20px;
        }
        .btn-primary {
            width: 120px;
        }
        .visible-xs {
            padding-top: 8px;
            height: 62px;
            background-color: #ed1556;
            color: $white;
            font-size: 17px;
            padding-left: 35px;
            margin-top: -1px;
        }
    }
    .entertainment-main-container {
        margin-top: 30px;
        h2 {
            color: #ed1556;
        }
        .entertainment-image-container {
           margin: 0 auto;
            padding: 0px;
        }
        img.hidden-xs {
            margin-top: 25px;
            width: 450px;
            height: auto;
        }
        img.visible-xs {
            width: 290px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .btn-primary {
            margin: 0 auto;
        }
    }
    hr {
        margin-top: 38px;
        border-top: 1px solid #ccc;
    }
    .father-daughter-main-container {
        h2 {
            color: #ed1556;
        }
        .father-daughter-image-container {
            padding: 0px;
        }
        img.hidden-xs {
            margin-top: 25px;
            width: 450px;
            height: auto;
        }
        img.visible-xs {
            width: 290px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .btn-primary {
            margin: 0 auto;
        }
    }
    .shopping-main-container {
        h2 {
            color: #ed1556;
        }
        .shopping-image-container {
            padding: 0px;
        }
        img.hidden-xs {
            margin-top: 25px;
            width: 450px;
            height: auto;
        }
        img.visible-xs {
            width: 290px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .btn-primary {
            margin: 0 auto;
        }
    }
    .counter-image-container {
        h2 {
            color: #ed1556;
        }
        img {
            height: 150px;
        }
    }
    .essent-logo-footer{
      img {
         width: 100%;
         margin-top: 18px;
     }
     img.visible-xs{
       height: 50px;
     }
    }
    .footer-container {
        margin: 0 auto;
        padding-top: 10px;
        font-size: 13px;
        .copyright-header {
            color: $black;
        }
        p {
            color: gray;
        }
    }
    .btn-primary {
        width: 180px;
    }
}
