$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*global variables*/
$light-gray:#D3D3D3;
$white:#FFFFFF;

body{
  // background-color: $light-gray;
}
.container{
  width:100%;
  background-color: $white;
    .essent-logo{
      margin-top: 20px;
      display: inline-block;
      width: 97%;
    img{
        height:90px;
        margin-left: 34px;
        float: left;
      }
      h3{
        color:deeppink;
        text-align: right;
        margin-top: 24px;
      }
    }
       img.header-image{
          width:100%;
          height: auto;
          margin-top: 24px;
        }
         .logged-in-container-show-small-devices{
          span{
            color: grey;
            font-size: 15px;
          }
            padding-top: 18px;
            background-color: deeppink;
          .energie{
            color: $white;
            margin-left: 10px;
            font-size: 18px;
          }
          .logged-in{
            background-color: $light-gray;
            text-align: right;
            height: 50px;
            margin-top: 25px;
            padding-top: 18px;
            // padding-left:5px;
            //  margin-right: 14px;
          }
        }
        .logged-in-container-show-large-devices{
         background-color: $light-gray;
           span{
             color: grey;
             font-size: 15px;
           }
           padding-top: 15px;
           height: 50px;
           text-align: right;
         .logged-in{
           background-color: $light-gray;
          //  text-align: right;
           // padding-top: 18px;
            margin-right: 16px;
         }
       }

    .tips{
      width: 80%;
      margin: 0 auto;
      h2{
        color: deeppink;
      }
    }

    hr {
        border-top: 2px solid #ccc;
    }

    .first-row-images{
      width: 80%;
      margin: 0 auto;
      font-size: 12px;
      h3{
        color: deeppink;
        width: 163px;
      }
      img{
        width: 280px;
        height: 200px;
      }
      img.visible-xs{
        width: 360px;
      }
      li{
        list-style: none;
        margin-top: 8px;
        margin-left: -41px;
      }
      .middle-column{
          margin-top: 8px;
          line-height: 23px;
          width: 280px;
      }
      .left-column li:before{
         content: "• ";
         color: cornflowerblue;
         list-style: none;
      }
      .right-column li:before{
         content: "• ";
         color: cornflowerblue;
         list-style: none;
      }
      .aanbod-text{
        color: cornflowerblue;
        font-size: 14px;
      }
      .btn-primary{
        width:180px;
      }
    }
    .cooking-dad img{
      width:100%;
    }
    .gaming-row{
      width: 80%;
      margin: 0 auto;
      margin-top: 25px;
      h2{
        color: deeppink;
      }
      img{
        // width:360px;
        margin-top: 20px;
        width: 500px;
        // height: 200px;
      }
      img.visible-xs{
        width: 360px;
        height: 200px;
      }
    }

    hr {
        border-top: 2px solid #ccc;
    }
    .father-daughter-row{
      width: 80%;
      margin: 0 auto;
      margin-top: 25px;
      // font-family: Lato-Black;
      h2{
        color: deeppink;
        width: 340px;
      }
       img{
        width:390px;
        height: 250px;
        margin-top: 20px;
      }
      img.visible-xs{
        width: 360px;
        height: 200px;
      }
      p{
          width: 450px;
      }
    }
    .shopping-row{
      width: 80%;
      margin: 0 auto;
      margin-top: 25px;
      // font-family: Lato-Black;
      h2{
        color: deeppink;
        width: 340px;
      }
       img{
        width:390px;
        height: 270px;
        margin-top: 20px;
      }
      img.visible-xs{
        width: 360px;
        height: 200px;
      }
    }
    .essent-footer-logo img{
      width: 100%;
      margin-top: 16px;
    }
    .counter-image{
      width: 80%;
      margin: 0 auto;
      img{
          height: 180px;
      }
    }
  .footer{
    width:80%;
    margin: 0 auto;
    padding-top: 10px;
      .copyright-header{
        font-weight: bold;
      }
    }
  }
